# Server
PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/meropriyatno

# Telegram (CHAT_ID — через запятую для нескольких пользователей)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_PROXY=
